<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Package.mapper.userMapper">

    <update id="updateDormitory">
        update student set room=#{room} where number=#{number}
    </update>

    <update id="updatePassword">
        update student set password=#{password} where number=#{number}
    </update>

    <update id="updateEvaluation">
        update order0 set evaluation=#{evaluation} where detail=#{detail}
    </update>
     <update id="updateOrderStatus">
        update order0 set status=#{status},last_time=#{last_time} where id=#{id}
    </update>
    <update id="updateAdminPassword">
        update admin set password=#{password} where number=#{number}
    </update>


    <select id="studentLogin" resultType="integer">
        select count(*) from student where number=#{number} and password=#{password}
    </select>

    <select id="selectStudentByNumber" resultType="java.lang.Integer">
        select count(*) from student where number=#{number}
    </select>

    <select id="selectDormitoryByNumber" resultType="java.lang.String">
        select room from student where number=#{number}
    </select>

    <select id="selectIdByNumber" resultType="java.lang.Integer">
        select id from student where number=#{number}
    </select>

    <select id="selectOrderByF_id" resultType="Package.pojo.Order">
        select detail,status,f_id,evaluation,room,number,last_time from order0 where f_id=#{f_id}
    </select>

    <select id="selectAdminByNumber" resultType="java.lang.Integer">
        select count(*) from admin where number=#{number}
    </select>
    <select id="selectOrderAll" resultType="Package.pojo.Order">
        select id,detail,status,f_id,evaluation,room,number,last_time from order0
    </select>
    <select id="selectAdminOrderById" resultType="Package.pojo.Order">
        select id,detail,status,f_id,evaluation,room,number,last_time from order0 where id=#{id}
    </select>

    <select id="adminLogin" resultType="java.lang.Integer">
        select count(*) from admin where number=#{number} and password=#{password}
    </select>

    <select id="selectProcessedOrders" resultType="Package.pojo.Order">
        select id,detail,status,f_id,evaluation,room,number,last_time from order0 where status='已处理'
    </select>

    <select id="selectUnprocessedOrders" resultType="Package.pojo.Order">
        select id,detail,status,f_id,evaluation,room,number,last_time from order0 where status='未处理'
    </select>


    <insert id="registerStudent">
        insert into student(number,password) values(#{number},#{password})
    </insert>

     <insert id="addOrder">
        insert into order0(detail,status,f_id,room,number,last_time) values(#{detail},#{status},#{f_id},#{room},#{number},#{last_time})
    </insert>

    <insert id="registerAdmin">
        insert into admin(number,password) values(#{number},#{password})
    </insert>


     <delete id="delOrder">
        delete from order0 where detail=#{detail} and f_id=#{f_id}
    </delete>
    <delete id="delAdminOrder">
        delete from order0 where id=#{id}
    </delete>


</mapper>